version: '3.8'

services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"   # Puerto para AMQP
      - "15672:15672" # Puerto para management UI
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin
    networks:
      - microservices-network

  mysql-products:
    image: mysql:8.0
    container_name: mysql-products
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: products_db
    ports:
      - "3306:3306"
    volumes:
      - mysql-products-data:/var/lib/mysql
    networks:
      - microservices-network

  mysql-orders:
    image: mysql:8.0
    container_name: mysql-orders
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: orders_db
    ports:
      - "3307:3306"
    volumes:
      - mysql-orders-data:/var/lib/mysql
    networks:
      - microservices-network

networks:
  microservices-network:
    driver: bridge

volumes:
  mysql-products-data:
  mysql-orders-data:
